
/* info page css */

.mesmerize-about-page {
    margin-right: 20px;
}

.mesmerize-about-page .mesmerize_install_notice {
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 10px 10px;
    margin: 15px 0 15px;
    border-left-color: #ffb900;
}

.mesmerize_install_notice {
    margin-top: 1rem;
    padding-left: 2%;
}

.mesmerize_install_notice table {
    display: inline;
}

.mesmerize_install_notice .license-status.red {
    color: #f00;
    font-weight: bold;
}

.mesmerize-about-page .info-boxes {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

.mesmerize-about-page .info-box {
    width: 33.333%;
    border: 1px solid #eaeaea;
    padding: 25px 15px 15px;
    background-color: #f7f7f7;
    text-align: center;
    margin: 1%;
}

.mesmerize-about-page .info-box a {
    color: #444;
    text-decoration: none;
}

.mesmerize-about-page .info-box a:hover {
    color: #00b9eb;
}

.mesmerize-about-page .info-box .icon {
    font-size: 34px;
    width: auto;
    height: auto;
}

.mesmerize-about-page .rp-panel {
    position: relative;
    overflow: auto;
    margin: 16px 0;
    margin-left: 1%;
    padding: 0 10px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background: #fff;
    font-size: 13px;
    line-height: 2.1em;
}

.mesmerize-about-page .rp-panel p {
    font-size: 16px;
}

.mesmerize-about-page .rp-c {
    margin-left: 1%;
    width: 60%;
}

.mesmerize-about-page .rp-plugin-title {
    margin-top: 0px;
}